.header {
    background-color: #5465ff;
    margin-top: 0 !important;
    padding: 1rem;
    font-size: xx-large;
    display: flex;
    justify-content: space-between;
}

.header span { font-size: inherit; }

.main {
    background-color: #788bff;
    flex: 1;
}

.menu {
    background-color: #343a40;
    padding: 1rem 2rem;
    width: fit-content;
    list-style-type: none;
}

.menu li { margin-bottom: 1rem; }
.menu li:last-child { margin-bottom: 0;}

.menu li a {
    text-decoration: none;
    color: #e2fdff;
    display: flex;
    gap: 0.5rem;
}

.footer {
    background-color: #5465ff;
    margin-top: 0 !important;
    padding: 1rem;
    text-align: center;
}