* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    color: #000000;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title, #subtitle { color: #64b5f6; }