.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/*  ########## Header ########## */
.header {
    background-color: var(--bg-medium);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content {
    text-align: center;
}

.header-title {
    color: var(--normal-text);
    font-size: 2rem;
    font-weight: 900;
}

.header-time,
.header-date {
    color: var(--normal-text);
}

.header-time {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
}

.header-date {
    font-size: 1.25rem;
    font-weight: 400;
}

/*  ########## Menu ########## */
.menu {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 4px;
}

.menu span {
    background-color: var(--normal-text);
    display: block;
}

/* ########## Main Content ########## */
.content {
    display: flex;
    flex-direction: column;
}

.content-title {
    color: var(--normal-text);
    text-align: center;
}

/* ########## Cards ########## */
.card {
    background-color: var(--bg-medium);
    color: var(--normal-text);
    border-radius: 20px;
}

.card-title {
    background-color: var(--bg-medium);
    color: var(--normal-text);
    text-align: center;
}

.content-button {
    color: var(--normal-text);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*  ########## Quick Action ########## */
.quick-action {
    background-color: var(--bg-medium);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quick-action-text {
    color: var(--normal-text);
}

.quick-action-button {
    color: var(--bg-medium);
    cursor: pointer;
}

.quick-action-button:hover {
    background-color: var(--bg-light);
}

.quick-action-schedule {
    color: var(--normal-text);
    cursor: pointer;
    text-decoration: none;
}

/*  ########## Progress Overview ########## */
.progress-overview {
    background-color: var(--bg-medium);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress-overview-text {
    color: var(--normal-text);
}