* {
   margin: 0; 
   padding: 0; 
   box-sizing: border-box;
}

:root {
    --success-color: #7ae582;
    --error-color: #d8315b;
    --warning-color: #ff8600;
    --bg-dark: #3b28cc;
    --bg-medium: #2667ff;
    --bg-low: #3f8efc;
    --bg-light: #87bfff;
    --normal-text: #e3f2fd;
    --text-highlight: #bbdefb;
}

body {
    font-family: "Lato", sans-serif;
    background-color: var(--bg-dark);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

